/* ==================== GENERAL ====================== */
body {
  margin: 0;
}
h1,
h3,
h4 {
  text-align: center;
}
p {
  margin-top: 0rem;
  margin-bottom: 0;
  padding: 0.5rem;
  background-color: white;
  border-radius: 10px;
}
img {
  cursor: pointer;
  width: 1rem;
  margin-bottom: -0.1rem; /* align img with text */
}
main {
  display: flex;
  flex-wrap: wrap;
}
main section {
  padding: 1rem 2rem 0.5rem;
  margin: 0.5rem;
  border-radius: 10px;
  border: 0.5px solid;
}
header strong {
  margin-left: 1rem;
  background-color: aqua;
  border-radius: 50%;
  padding: 0 1rem;
  cursor: pointer;
}

/* ===================== INPUT ======================= */
.input {
  width: 25%;
  flex-grow: 1;
  border-color: #298332;
}
label {
  width: 7rem;
  display: inline-block;
  margin-top: 0.7rem;
}
input {
  margin-top: 1rem;
}

/* ================== CONTROLLER ===================== */
.controller {
  width: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-color: #934827;
}
a {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.2rem;
  border-radius: 10px;
  border: none;
  color: white;
  font-weight: bold;
  text-align: center;
}
a:active {
  transform: scale(0.99);
}
select {
  margin-top: 1rem;
}
.inf-memb,
.inf-teams {
  margin: 0;
  padding-bottom: 0;
}
.inf-memb {
  margin-bottom: 0.5rem;
}
.start {
  background-color: red;
}
.clear {
  transition: transform 1s ease-in;
  background-color: black;
}
.save {
  background-color: green;
}
.saved {
  transition: ease-in-out 1s transform;
  padding: 1rem 10rem;
  border-radius: 10rem;
  font-weight: bold;
  position: fixed;
  top: -5rem;
  left: calc(45% - 5rem);
  background-color: lawngreen;
}
.show {
  transform: translateY(10rem);
}
/* ====================== LIST ======================= */
.member-list {
  width: 30%;
  flex-grow: 999;
  border-color: #093943;
}
.list {
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  height: 15rem;
}
.member {
  margin: 1rem;
}

/* ===================== TEAMS ======================= */
.teams {
  width: 100%;
}
.teams-wraper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.teams-wraper h3 {
  display: block;
}
.team {
  margin: 0.7rem 0.5rem;
  width: 10%;
  border-radius: 10px;
}
h4 {
  margin: 0.7rem 0.5rem 0.4rem;
}
.team-member-list {
  text-align: center;
  background-color: white;
  border-radius: 0px 0px 10px 10px;
}
.team-member {
  cursor: pointer;
  z-index: 10;
}
.unselectable {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* ============================ ANIMATIONS ================================ */

/*span {
  animation: new 1s infinite;
  transition: transform 1s ease-in;
}
@keyframes new {
  0% {
    transform: scale(100);
  }
  100% {
    transform: scale(0);
  }
} */
.expand {
  transform: scale(100);
}
.contract {
  transform: scale(1);
}
.team .tick {
  animation: shake 0.5s infinite;
}

@keyframes shake {
  0% {
    transform: translate(0.2px, 0.2px) rotate(0deg);
  }
  10% {
    transform: translate(-0.2px, -2px) rotate(-1deg);
  }
  /* 20% {
    transform: translate(-1px, 0px) rotate(1deg);
  } */
  30% {
    transform: translate(1px, 0.5px) rotate(0deg);
  }
  /* 40% {
    transform: translate(0.2px, -0.2px) rotate(1deg);
  } */
  50% {
    transform: translate(-0.2px, 2px) rotate(-1deg);
  }
  /* 60% {
    transform: translate(-1px, 0.2px) rotate(0deg);
  } */
  70% {
    transform: translate(1px, 0.2px) rotate(-1deg);
  }
  /* 80% {
    transform: translate(-0.2px, -0.2px) rotate(1deg);
  } */
  90% {
    transform: translate(0.2px, 0.5px) rotate(0deg);
  }
  100% {
    transform: translate(0.2px, -0.5px) rotate(-1deg);
  }
}
