body {
  display: flex;
  flex-wrap: wrap;
}
/* ------------------------------------------------ */
.input,
.participants,
.create {
  margin-top: 2rem;
}
/* ------------------------------------------------ */
.input {
  flex-grow: 1;
  width: 30%;
  padding-left: 2rem;
}

label {
  margin-top: 0.5rem;
  display: inline-block;
  width: 3rem;
}
/* ------------------------------------------------- */
.clear {
  margin-left: 0.75rem;
  margin-top: 0.5rem;
}
/* ------------------------------------------------- */
.participants {
  padding-left: 5rem;
  flex-grow: 1;
  width: 45%;
  overflow: auto;
  max-height: 185px;
  display: flex;
  flex-wrap: wrap;
}
.partc-name {
  flex-basis: 150px;
  margin-left: 2rem;
}
.partc-name button {
  margin-right: 0.5rem;
}

/* ------------------------------------------------ */
.team {
  margin-top: 2rem;
  width: 100%;
  min-height: 300px;
  border: 1px solid #000;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.team::before {
  content: 'Click to change team members';
  position: absolute;
}
.team-div {
  width: 14rem;
  margin: 1.5rem 2rem;
  border: 1px solid #000;
  padding: 0.5rem;
}
.drag {
  background-color: greenyellow;
}
